$def with (name)
$if name:
     <h2> Look at this cool Hubber : </h2> 
     <img id='avatarImg' style="-webkit-user-select: none;margin: auto;cursor: zoom-in;" src="$name['avatarUrl']&s=150">
     <div style='font-style: italic;'>$name['bio']</div>
     <div style="font-weight:bolder" id='staff'></div>
     <div><a href="$name['url']?tab=repositories">Check out their repos!</a></div>
     <div><a href="/user">Search for more</a></div>

     <script language="javascript" type="text/javascript">

        var staffStatus = '$name["isStaff"]'
        if (staffStatus == 'True')
        {
            document.getElementById("staff").innerHTML = "STAFF";
        }

    </script>

$else:
    
    <body>
    <h2><em>Hello</em>! Enter a Hubber's name to search for them! </h2>
    <form>
     Handle: <input type="text" id="inputURL" name="inputURL" value=""><br>
    <input id=myButton type="button" value="click" OnClick="buttonClick()"/>
    </form>
    </body>

    <script language="javascript" type="text/javascript">
        function buttonClick(){
        var url = document.getElementById("inputURL").value;
        window.location = "?name=" + url;
        }

        var input = document.getElementById("inputURL");
        input.addEventListener("keypress", function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                document.getElementById("myButton").click();
            }
        });
    </script>